body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url('https://img.graphicsurf.com/2019/11/dog-paws-vector-free-seamless-pattern2.jpg'); /* Ruta relativa al archivo CSS */
    background-size: cover;
    background-position: center;
    
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(88, 33, 33, 0.071); /* Fondo semitransparente */
    z-index: -1; /* Asegura que esté detrás de todo */
}

.menu-container {
    text-align: center;
    position: relative; /* Importante para posicionar correctamente los elementos hijos */
    z-index: 1; /* Asegura que esté delante del fondo */
    padding-top: 0px; /* Espacio para la barra de navegación */
}

.menus {
    list-style-type: none;
    text-align: center;
    position: relative; /* Importante para posicionar correctamente los elementos hijos */
    z-index: 1; /* Asegura que esté delante del fondo */
    padding-top: 0px; /* Espacio para la barra de navegación */
    margin-top:0px;
    margin-bottom:0px;
    padding: 0px;
}

.logo {
    width: 500px;
    height: auto;
    margin-bottom: 20px;
}

.menu-overlay {
    background-image: url('https://static.vecteezy.com/system/resources/thumbnails/022/556/523/small_2x/simple-minimalist-retro-color-trendy-background-abstract-colorful-wallpaper-and-backdrop-artistic-digital-art-3d-rendering-geometric-line-stripe-bar-element-design-material-photo.jpg');
    width: 25%;
    margin: auto;
    border-radius: 50px;
    padding: 20px;
}

.menu {
    list-style-type: none;
    padding: 0px;
}

.menu li {
    margin-bottom: 10px; /* Espacio entre cada opción del menú */
    background-image: url('https://img.freepik.com/vector-gratis/fondo-acuarela-abstracta-acuarela-pintada-mano_361591-2796.jpg?size=626&ext=jpg&ga=GA1.1.1788068356.1716076800&semt=ais_user'); /* Ruta a tu imagen de fondo */
    background-size: cover; /* Ajusta la imagen de fondo para cubrir todo el espacio */
    background-position: center; /* Centra la imagen de fondo */
    padding: 15px; /* Espacio interno para el contenido de cada elemento */
    border-radius: 20px;
}


.menu li a {
    display: block; /* Convertir los enlaces en bloques para ocupar todo el ancho */
    text-decoration: none;
    color: #555;
    font-size: 25px;
    transition: color 0.3s ease;
}

.menu li a:hover {
    color: #1d72d494; /* Cambia el color al pasar el cursor */
}


.casa{
    height: 50%;
}
