body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url('img/Fondo.png'); /* Ruta relativa al archivo CSS */
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(88, 33, 33, 0.071); /* Fondo semitransparente */
    z-index: -1; /* Asegura que esté detrás de todo */
}

.menu-container {
    text-align: center;
    position: relative; /* Importante para posicionar correctamente los elementos hijos */
    z-index: 1; /* Asegura que esté delante del fondo */
    padding-top: 200px; /* Espacio para la barra de navegación */
}



.menu-overlay {
    /*background-color: rgba(192, 192, 192, 0.218);*/ /* Contenedor del menú semitransparente */
    background-image: url('https://e7.pngegg.com/pngimages/762/546/png-clipart-wooden-background-wooden-table-wooden-background.png'); /* Ruta relativa al archivo CSS */

    width: 25%;
    margin: auto;
    border-radius: 30px;
    padding: 40px;
}

.menu {
    list-style-type: none;
    padding: 0;
}

.menu li {
    margin-bottom: 25px; /* Espacio entre cada opción del menú */
    background-image: url('https://static.vecteezy.com/system/resources/previews/012/707/449/original/wooden-sign-board-illustration-png.png'); /* Ruta a tu imagen de fondo */
    background-size: cover; /* Ajusta la imagen de fondo para cubrir todo el espacio */
    background-position: center; /* Centra la imagen de fondo */
    padding: 20px; /* Espacio interno para el contenido de cada elemento */
}

.menu li a {
    display: block; /* Convertir los enlaces en bloques para ocupar todo el ancho */
    text-decoration: none;
    color: #555;
    font-size: 25px;
    transition: color 0.3s ease;
}

.menu li a:hover {
    color: #FF5733; /* Cambia el color al pasar el cursor */
}
